body{
    background-color: #e3e3e3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

select{
    position: absolute;
    left: 1200px;
    top: 123px;
}

a {
    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
}

