body{
    background-color: #ececec;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

select{
    position: absolute;
    left: 1200px;
    top: 123px;
}

a {
    text-decoration: none;
    color: #666666;
    border-bottom: 1px solid;
    border-bottom-color: rgba(210, 210, 210, 0.2);
}

